[Desktop Entry]
Icon=text-html
Name=https://www.digikey.com/en/products/detail/jkl-components-corp/Z-G4-9WW/22677423?gclsrc=aw.ds&gad_source=1&gad_campaignid=20228387720&gbraid=0AAAAADrbLljRO2dWEzUIYV22MCJIjylOJ
Type=Link
URL[$e]=https://www.digikey.com/en/products/detail/jkl-components-corp/Z-G4-9WW/22677423?gclsrc=aw.ds&gad_source=1&gad_campaignid=20228387720&gbraid=0AAAAADrbLljRO2dWEzUIYV22MCJIjylOJ
