[Desktop Entry]
Icon=unknown
Name=amazon.com: Daakro ZK-502T Bluetooth Amplifier Board,50W+50W 2.0 Channel Amp Board with Treble and Bass Control,DC 12-24V, Bluetooth and AUX Inputs, Audio Amp Board for Home DIY Wireless Speakers, Password Free : Electronics
Type=Link
URL[$e]=amazon.com: Daakro ZK-502T Bluetooth Amplifier Board,50W+50W 2.0 Channel Amp Board with Treble and Bass Control,DC 12-24V, Bluetooth and AUX Inputs, Audio Amp Board for Home DIY Wireless Speakers, Password Free : Electronics
