[Desktop Entry]
Icon=text-html
Name=https://www.amazon.com/Daakro-ZK-502T-Bluetooth-Wireless-Speakers/dp/B0DK4N6RF9?tag=ustxtaddt-20&th=1
Type=Link
URL[$e]=https://www.amazon.com/Daakro-ZK-502T-Bluetooth-Wireless-Speakers/dp/B0DK4N6RF9?tag=ustxtaddt-20&th=1
